<!DOCTYPE html>
<html>
  <head>
    <title>Meetup Dice!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Pick a random person!">
    <meta name="og:title" content="Meetup Dice">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js"></script>
    <script src="/scripts/min/dice_class-min.js"></script>
    <script src="/scripts/min/roll-min.js"></script>
  </head>
  <body>
    <div id="navbar-header" class="navbar-collapse collapse inverse">
      <div class="container-fluid">
        <div class="about">
          <h4>About</h4>
          <p class="text-muted">Meetup Dice is a simple application for picking a random RSVP'd member from a Meetup.</p>
        </div>
        <div class="social">
          <h4>Contact</h4>
          <ul class="list-unstyled">
            <li><i class="fa fa-twitter"></i><a href="//twitter.com/fvcproductions" target="_blank"> Follow on Twitter</a></li>
            <li><i class="fa fa-code-fork"></i><a href="//github.com/fvcproductions/meetup-dice" target="_blank">  Make a Pull Request</a></li>
            <li><i class="fa fa-github"></i><a href="//github.com/fvcproductions" target="_blank"> Follow on GitHub</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar navbar-static-top navbar-dark bg-inverse">
      <div class="container-fluid">
        <button type="button" data-toggle="collapse" data-target="#navbar-header" class="navbar-toggler">☰</button><a href="/" class="navbar-brand">Meetup Dice</a>
      </div>
    </div>
    <div class="album text-muted">
      <div class="container">
        <div id="content">
          <h1>Snake Eyes</h1>
          <p>Doesn't seem like there's a  event any time soon...</p>
          <p><a href="javascript: window.history.back()">Go back</a></p>
        </div>
      </div>
    </div>
    <footer class="text-muted">
      <div class="container">
        <p class="pull-xs-right"><a href="#">Back to top</a></p>
        <p>🔨 with lots of 🍀 and 💗 by <a href="//github.com/HarlanH" target="_blank">Harlan Harris</a> and <a href="//github.com/fvcproductons">FVCproductions</a></p>
      </div>
    </footer>
  </body>
</html>