doctype html
html
  head
    title Meetup Dice!
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name="description", content="Pick a random person!")
    meta(name="og:title", content=typeof(title) !== "undefined" ? title : "Meetup Dice")
    link(rel="shortcut icon", href="/images/favicon.png", type="image/x-icon")
    link(rel="stylesheet", href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(src="//code.jquery.com/jquery-1.10.1.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js")
    script(src="/scripts/min/dice_class-min.js")
    script(src="/scripts/min/roll-min.js")

  body
    #navbar-header.navbar-collapse.collapse.inverse
      .container-fluid
        .about
          h4 About
          p.text-muted
            | Meetup Dice is a simple application for picking a random RSVP'd member from a Meetup.
        .social
          h4 Contact
          ul.list-unstyled
            li
              i.fa.fa-twitter
              a(href='//twitter.com/fvcproductions',target="_blank")  Follow on Twitter
            li
              i.fa.fa-code-fork
              a(href="//github.com/fvcproductions/meetup-dice", target="_blank")   Make a Pull Request
            li
              i.fa.fa-github
              a(href='//github.com/fvcproductions', target="_blank")  Follow on GitHub
    .navbar.navbar-static-top.navbar-dark.bg-inverse
      .container-fluid
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar-header')
          | ☰
        a.navbar-brand(href='/') Meetup Dice
    .album.text-muted
      .container
        block content
    footer.text-muted
      .container
        p.pull-xs-right
          a(href='#') Back to top
        p
          | 🔨 with lots of 🍀 and 💗 by <a href="//github.com/HarlanH" target="_blank">Harlan Harris</a> and <a href="//github.com/fvcproductons">FVCproductions</a>