img.grp {
	margin: 0 auto;
	display: block;
	max-width: 50%;
	max-height: 50%;
}

p.grpname {
	text-align: center;
}

img.member {
  height: 250px;
}

img.list {
	width: 100%;
	max-height: 100%;
}

.member-cell {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
}

.btn-group {
	margin-right: 10px;
}

.control {
	display: inline-block;
	margin-right: .5em;
}

#links {
	margin-bottom: 3em;
}

/*Album.css*/

.bg-inverse {
    color: white;
    background-color: #ED1920;
}

.navbar {
  margin-bottom: 0;
}

#margin-top-bottom {
  margin-top: 2em;
  margin-bottom: 2em;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
  background: white;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #2E2F31;
}

.social a:hover {
  color: #818a91;
  text-decoration: none;
}

#header {
    text-align: center;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: white;
}

footer {
  padding-top: 2em;
  padding-bottom: 2em;
}

footer p {
  margin-bottom: .25rem;
}

.card {
  border: none;
  padding: 1em;
}
